################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
node_modules
.vs
/linkedin_graphql_essential_training/node_modules
/linkedin_graphql_essential_training/.vs
linkedin_graphql_essential_training/aliens.sqlite
